
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_TravelLayout.cshtml";
}

<div class="content">
    <div class="wrap">
        <div class="about">
            <h3>Hakkımızda</h3>
            <img src="~/TravelTemplate/images/about_banner.jpg" alt="" />
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim  </p>
          
        </div>
    </div>
</div>

